

body {
    font-family: $font-family-primary, $font-family-secondary, $font-family-ternary;
    color: $color-light-2;
    font-weight: 400;
    line-height: 1.6;
}
  
label {
    font-size: 1.6rem;
    font-weight: 600;
}
