.container {
    width: 100%;
    height: 100vh;
    background-color: $color-white;
    position: relative;

    .wrapper {
        max-width: 150rem;
        min-width: 30rem;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .col-md {
        width: 100%;
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 5px 15px 0 rgb(0 0 0 / 10%);
    }

    .col-md-1 {
        width: 50%;
        padding-right: 2rem;
    }

    .col-md-2 {
        width: 50%;
    
        img {
            width: 100%;
        }
    }   

    .form-section {
        width: 100%;
        padding: 2rem 6rem;

        .heading {
            margin-bottom: 2rem;
        
            .primary_heading {
                font-size: 2rem;
                font-weight: bold;
                color: $color-dark-0;
                
                span {
                    display: block;
                    margin-bottom: 0.5rem;
                }
            }
        }

        .form-block {
            width: 80%;
            display: flex;
            flex-direction: column;
            gap:1.5rem;
        }

        .form-input {
            width: 100%;
            margin: 0 ;
            position: relative;

            input {
                width: 95%;
                padding: 1rem 0.5rem;
                border: none;
                border-bottom: 1px solid skyblue;
                font-size: 1.3rem;
                outline: none;
                transition: border-color 0.3s;

                &:focus {
                    border-bottom: 3px solid red;
                }

                &::placeholder {
                    color: #888;
                }
            }
            span  {
                color: black;
                position: absolute;
                top: 50%;
                left: 90%;
                transform: translate(-50%, -50%);
                font-weight: 400;

                svg {
                    height: 1.3rem;
                    width: 1.6rem;
                }
            }

        }

        .login-options {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .remember-me {
                display: flex;
                align-items: center;

                .remember-me-checkbox {
                    margin-right: 0.5rem;
                }

                .remember-me-label {
                    font-size: 1.2rem;
                    color: #333;
                }
            }

            .forgot-password {
                .forgot-password-link {
                    font-size: 1.2rem;
                    color: #007bff;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        

        .btn-link {
            text-align: center;
            font-size: 1.2rem;        
        }
        
    }
}